.board {
  width: 400px;
  /*display: flex;*/
  list-style: none;
  margin: auto;
}

body h1 {
  text-align: center;
  font-family: Arial;
  font-size: 70px;
}

.board li {
  float: left;
  width: 33.33333333%;
  height: 133px;
  border: 10px solid black;
  box-sizing: border-box;
}

.unclicked {
  background: gray;
}

.unclicked:hover {
  background: yellow;
}

.clicked {
  left: 40px;
  background: white;
  font-size: 130px;
  line-height: 110px;
  text-align: center;
  font-family: Arial;
}
